@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en
<head>
    <meta charset="UTF-8">
    <title>فرم ورود/ثبت نام</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
    <link rel="stylesheet" href="~/Content/Account/style.css">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">ورود</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">ثبت نام</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form action="/Account/Login" method="post">
                        <div class="group">
                            <label for="user" class="label">نام کاربری</label>
                            <input id="firstNameAndLastName1" name="firstNameAndLastName" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">کلمه عبور</label>
                            <input id="password1" name="password" type="Password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span> من را به خاطر داشته باش</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="ورود">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgotPass">فراموشی رمز عبور</a>
                        </div>
                        <div class="foot-lnk mt-2">
                            <a href="#forgot">@Model</a>
                        </div>
                    </form>
                </div>
                <div class="sign-up-htm">
                    <div>
                        <div class="group">
                            <input type="hidden" value="2" id="role_id" name="role_id" />
                            <label for="firstNameAndLastName" class="label">نام کاربری</label>
                            <input id="firstNameAndLastName" name="firstNameAndLastName" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="tell" class="label">تلفن</label>
                            <input id="tell" name="tell" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="address" class="label">ادرس</label>
                            <input id="address" name="address" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="email" class="label">ایمیل</label>
                            <input id="email" name="email" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="NationalCode" class="label">کدملی</label>
                            <input id="NationalCode" name="NationalCode" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">کلمه عبور</label>
                            <input id="password" name="password" type="Password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="repeadPassword" class="label">تکرار کلمه عبور </label>
                            <input id="repeadPassword" name="repeadPassword" type="password" class="input" data-type="password">
                        </div>
                        

                        <div class="group">
                            <button id="btn-send" name="btn-send" style="cursor:pointer;text-align: center;" class="button">
                                ثبت نام
                            </button>
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1"> قبلا عضو هستید؟ </label>
                            @*<a href="" for="tab-1">قبلا عضو هستید؟</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script type="text/javascript">
    var clearFormErrors = function () {
        $(".form-error").remove();
    }

    var disableSubmitBtn = function () {
        $('#btn-send').attr("disabled", true);
    }

    var enableSubmitBtn = function () {
        $('#btn-send').attr("disabled", false);
    }

    $(function() {

            //alert("Hello");
        $("#btn-send").click(function () {
            clearFormErrors();
            disableSubmitBtn();

            var Register = {};
            Register.role_id = $("#role_id").val();
            Register.firstNameAndLastName = $("#firstNameAndLastName").val();
            Register.tell = $("#tell").val();
            Register.address = $("#address").val();
            Register.email = $("#email").val();
            Register.NationalCode = $("#NationalCode").val();
            Register.password = $("#password").val();
            Register.repeadPassword = $("#repeadPassword").val();
            
           
            //console.log(contact);
            $("section#page").slideUp("slow")
            $.ajax({
                url: "/Account/Adduser",
                method: "POST",
                data: Register,
                success: function (response) {
                    console.log(response);

                    if (!response.success) {
                        if (response.code === '1') {
                            response.result.forEach(function (item, index) {
                                $("#" + item.Key).after("<span class='form-error'>" + item.Value + "</span>");
                            });
                        }
                    } else {
                        $("section#page").slideDown("slow");
                        $(".input").val("");
                        alert("ثبت نام با موفقیت انجام شد")
                    }

                    enableSubmitBtn();
                },
                error: function (response) {
                    enableSubmitBtn();
                    console.log(response)
                }
            });


        });

    });

</script>


