@using ModelLib.Enums;
@model List<ModelLib.Advertising>
@foreach (var item in Model)
{

    <li class="pb-3">
        <a href="/Advertising/Details/@item.id">
            @if (item.propertyType == PropertyType.apartment)
            {
                <span>آپارتمان</span>
            }
            else if (item.propertyType == PropertyType.Official)
            {
                <span>اداری</span>
            }
            else
            {
                <span>ویلایی</span>
            } @item.area متری 
        </a>
    </li>

}