<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <title>@ViewBag.title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="fa">
    <meta name="language" content="fa">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta name="revisit-after" content="1 days" />
    <meta name="google-site-verification" content="N_1Ao4SU9N2EipmoDkVXZYGYcSYvW_Ydlb8aG-MWHNE" />
    <meta property="og:title" content="املاک : آگهی های خرید و فروش ، رهن و اجاره خانه ، مغازه ، آپارتمان">
    <meta name="description"
          content="وب سایت و اپلیکیشن تخصصی آگهی های املاک برای خرید ، فروش ، رهن و اجاره آپارتمان ، ویلا ، زمین ، گلنگی ، اداری و تجاری توسط کاربران و مشاورین املاک می باشد" />
    <meta property="og:description"
          content="وب سایت و اپلیکیشن تخصصی آگهی های املاک برای خرید ، فروش ، رهن و اجاره آپارتمان ، ویلا ، زمین ، گلنگی ، اداری و تجاری توسط کاربران و مشاورین املاک می باشد">
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href="/">
    <base>
    <link rel="apple-touch-icon" sizes="180x180" href="~/Images/logo/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/logo/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/logo/logo.png">
    <meta name="msapplication-TileColor" content="#17bbc1">
    <meta name="theme-color" content="#17bbc1">
    <meta name="csrf-token" content="i8X7zDblXlSzZ7DGbEbb6Qz7AXjC3Z2HQkr13BFh">
    <link rel="stylesheet" type="text/css" href="~/Content/base40.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/app40.css" media="all">
    <link href="~/Content/Admin/main.css" rel="stylesheet" />
    <script defer src="~/Scripts/jq.min.js"></script>
    @RenderSection("Head", false);
</head>
<body>
    <div class="main ">
        @* header *@
        <header class="header">
            <div class="container">
                <div class="row">
                    <nav class="col navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand mr-md-0 pr-lg-0 pl-4"
                           href="/">
                            <picture>                               
                                <source srcset="~/Images/logo/logo.png">
                                <img width="92" src="~/Images/logo/logo.png"
                                     class="img-responsive pt-1 px-md-0 pt-md-1" alt="آگهی های فروش و اجاره املاک"
                                     title="آگهی های فروش و اجاره املاک">
                            </picture>
                            <span class="hidden">املاک</span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse px-2 px-md-0 pt-4 pt-lg-0" id="navbarSupportedContent">
                            <ul class="navbar-nav pt-0">
                                <li class="nav-item px-2 pb-4 pb-lg-0 pr-2 pr-lg-0">
                                    <a class="main-link"
                                       href="/Advertising/Buy">خرید
                                    </a>
                                </li>
                                <li class="nav-item pb-4 pb-lg-0 pr-2 pr-lg-0">
                                    <a class="main-link"
                                       href="/Advertising/Rent">
                                        رهن
                                        و اجاره
                                    </a>
                                </li>                                                               
                                <li class="nav-item pb-4 pb-lg-0 pr-2 pr-lg-0">
                                    <a class="main-link"
                                       href="/Blog">بلاگ</a>
                                </li>  
                                <li class="nav-item pb-4 pb-lg-0 pr-2 pr-lg-0">
                                    <a class="main-link"
                                       href="/Home/About">درباره ما</a>
                                </li>  
                                <li class="nav-item pb-4 pb-lg-0 pr-2 pr-lg-0">
                                    <a class="main-link"
                                       href="/Home/Contact">تماس با ما</a>
                                </li>                                
                            </ul>
                            <div class="mr-auto pl-lg-0 clearfix pr-2 pr-lg-0 pb-4 pb-lg-0">
                                <div class="row"> 

                                    @if (User.Identity.IsAuthenticated)
                                    {

                                        <div class=" float-right pl-3 pr-1 btnpro"><a href="/PanelUser/UserPanel">پروفایل</a></div>
                                        <div class=" float-right pl-3 pr-1 btnpro"><a>@User.Identity.Name</a></div>
                                    }
                                    else { 
                                    <div class=" float-right pl-3 pr-1 btnpro"><a></a></div>
                                    }
                                                                                                                                            
                                    
                                    <div class="profile_btn float-right pl-3 pr-1">
                                        <button type="button"><i class="sh-user"></i></button>
                                        <div class="auth-popup">
                                            <div id="auth_content" class="auth-popup-content">
                                                <div class="popup-top-part p-4">
                                                    <span class="d-block w-100 text-center ">برای ورود یا ثبت نام کلیک کنید .</span>
                                                    @*<button class="btn mt-4 w-100 shabesh-button red font-weight-bold"
                                    data-toggle="modal" data-target="#authModal">
                                ورود / ثبت نام
                            </button>*@
                                                    <button class="btn mt-4 w-100 shabesh-button red font-weight-bold">
                                                        <a href="/Account/Login">ورود / ثبت نام</a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                          
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        @* section asli *@
       <section>
           @RenderBody()
       </section>
        @* footer *@
        <footer id="footer" class="footer-section hidden-print">
            <div class="container py-3">
                <div class="w-100 line py-3">
                    <a href="index.html">
                        <picture>
                            <source srcset="~/Images/logo/logo.png">
                            <source srcset="~/Images/logo/logo.png">
                            <img src="~/Images/logo/logo.png" width="91"
                                 alt="آگهی های فروش و اجاره املاک - املاک" title="آگهی های فروش و اجاره املاک - املاک">
                        </picture>
                    </a>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-4 py-3">
                        <a class="footer-link medium-sans"
                           href="/Home/Buy">خرید</a>
                    </div>
                    <div class="col-lg-2 col-sm-4 py-3">
                        <a class="footer-link medium-sans"
                           href="/Home/Rent">
                            رهن
                            و اجاره
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-4 py-3">
                    <a class="footer-link medium-sans" href="/Blog">
                        بلاگ</a></div>                     
                    <div class="col-lg-2 col-sm-4 py-3">
                        <a class="footer-link medium-sans"
                           href="/Home/Contact">
                            تماس
                            با ما
                        </a>
                    </div> 
                    <div class="col-lg-2 col-sm-4 py-3">
                        <a class="footer-link medium-sans"
                           href="/Home/About">
                            درباره
                            ما
                        </a>
                    </div>                                   
                                                          
                </div>
                <div class="w-100 line-top py-3">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">                                
                                <div class="col-lg-3 col-sm-4 py-3">
                                    <a class="footer-link medium-sans" href="/Home/Faq">
                                        سوالات
                                        متداول
                                    </a>
                                </div>                                                             
                                <div class="col-lg-3 col-sm-4 py-3">
                                    <a class="footer-link medium-sans" href="/Home/Terms">
                                        ضوابط
                                        و قوانین
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-4 py-3">
                                    <a class="footer-link medium-sans"
                                       href="/Home/Landing">همکاری</a>
                                </div><div class="col-lg-3 col-sm-4 py-3">
    <a class="footer-link medium-sans"
       href="/Home/Advertising">
        تبلیغات در املاک
                                </a>
</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="enamad clearfix float-md-left float-right">
                                <picture class="float-lg-left float-none">                                    
                                    <img src="~/Images/home/samandehi.jpg" id="rgvjoeukoeukoeukrgvj" style="cursor:pointer"
                                         onclick="window.open(&quot;https://logo.samandehi.ir/Verify.aspx?id=38883&amp;p=xlaomcsimcsimcsixlao&quot;, &quot;Popup&quot;,&quot;toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30&quot;)"
                                         alt="logo-samandehi">
                                </picture>
                                <picture class="float-lg-left float-none ml-2">
                                    <source srcset="~/Images/home/logo-enamad.jpg" type="image/jpg">
                                    <img src="~/Images/home/logo-enamad.jpg" alt=""
                                         onclick="window.open(&quot;https://trustseal.enamad.ir/Verify.aspx?id=29253&amp;p=H3ojp2FrcHiR48lN&quot;, &quot;Popup&quot;,&quot;toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30&quot;)"
                                         style="cursor:pointer" id="H3ojp2FrcHiR48lN">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 title medium-sans pt-4 text-center text-md-right">
                    ما را در شبکه های اجتماعی دنبال کنید
                </div>
                <div class="w-100 icons py-3 text-center text-md-right">
                    <a href="/"
                       target="_blank" class="facebook" rel="nofollow">
                        <i class="sh-facebook"></i>
                    </a> <a href="/" target="_blank"
                            class="linkdin mr-2" rel="nofollow">
                        <i class="sh-linkedin"></i>
                    </a> <a href="/" class="telegram mr-2" target="_blank" rel="nofollow">
                        <i class="sh-telegram"></i>
                    </a> <a href="/" class="aparat mr-2"
                            target="_blank" rel="nofollow"><i class="sh-aparat"></i></a> <a href="http://www.instagram.com/shabesh.ir" class="insta mr-2" target="_blank" rel="nofollow">
                        <i class="sh-instagram"></i>
                    </a>
                </div>               
            </div>
        </footer>
        <div class="modal mobile-call-modal fade" id="call-modal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content pt-0">
                    <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="usertypelabel">تماس با ما</h5>
                        <button type="button" class="close call-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="sh-quit"></i></span>
                        </button>
                    </div>
                    <div class="modal-body pt-0" id="call-modal-result"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <button class="close" data-dismiss="modal" aria-label="Close"><i class="sh-quit"></i></button>
                        <button class="back"> بازگشت</button>
                        <div class="auth-container login-chooser">
                            <div class="auth-head">
                                <span class="login-icons"> <i class="sh-user"></i> ورود / ثبت نام </span>
                                <div class="fav-text mt-4">
                                    <picture>
                                        <source srcset="~/Images/home/mixed.png" type="image/png">
                                        <img src="~/Images/home/mixed.png" class="mb-4" width="40" title="علاقه مندی"
                                             alt="علاقه مندی">
                                    </picture>
                                    <span class="px-0"></span>
                                </div>
                                <div class="alarm-text mt-4">
                                    <picture>
                                        <source srcset="~/Images/home/mixed.png" type="image/png">
                                        <img src="~/Images/home/mixed.png" class="mb-4" width="40" title="اطلاع رسانی"
                                             alt="اطلاع رسانی">
                                    </picture>
                                    <span class="px-0"></span>
                                </div>
                            </div>
                            <form class="auth-form" data-submit="checknumber">
                                <div class="row text-center auth-title">
                                    برای <span>ورود</span> یا <span>ثبت‌ نام</span>
                                    شماره تلفن همراه خود را وارد کنید
                                </div>
                                <div class="row">
                                    <div class="form-item col-12">
                                        <input type="text" name="mobile" id="mobile1"
                                               class="number-only flex-label" pattern="09[0-9]{9}"
                                               required> <label for="mobile">شماره موبایل</label>
                                        <span class="error-input">شماره موبایل ۱۱ رقمی را وارد کنید .</span> <span class="example">مثال : ۰۹۱۲۰۰۰۰۰۰۰</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mt-4">
                                        <button class="shabesh-button green w-100 submit-button submit-form "
                                                data-action="registerContainer">
                                            ادامه
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="auth-container login-container">
                            <div class="auth-head"><span> <i class="sh-user"></i> ورود / ثبت نام </span></div>
                            <form class="auth-form" data-submit="login">
                                <div class="row text-center auth-title"> رمز عبور خود را وارد کنید</div>
                                <div class="row">
                                    <div class="form-item col-12 mb-2">
                                        <input type="text" name="mobile" id="login_mobile"
                                               class="flex-label" required readonly> <label for="login_mobile" class="fixed">شماره موبایل</label> <span class="error-input">شماره موبایل خود را وارد نمایید</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-item col-12 mb-2">
                                        <input type="password" id="login_password"
                                               name="password" class="flex-label"
                                               minlength="8" autocomplete="off" required>
                                        <label for="login_password">رمز عبور</label> <span class="error-input">رمز عبور را حداقل ۸ کاراکتر وارد نمایید</span>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-12">
                                        <button type="submit" class="shabesh-button green w-100 submit-button submit-form ">
                                            ورود
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" name="user_id" id="login_user_id">
                                <div class="row">
                                    <div class="col-12">
                                        <button type="button"
                                                class="shabesh-button green cleared w-100 cleared forget-pass">
                                            فراموشی رمز
                                            عبور
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="auth-container reset-password">
                            <div class="auth-head"><span>بازیابی رمز عبور</span></div>
                            <form class="auth-form" data-submit="reset-pass">
                                <div class="row text-center auth-title">
                                    کد ارسال شده به شماره همراه و رمز عبور جدید را وارد
                                    کنید .
                                </div>
                                <input type="hidden" name="user_id" class="reset-userid">
                                <div class="row confirm-code">
                                    <div class="form-item col-12">
                                        <input type="text" name="remember_token"
                                               id="remember_token" class="flex-label" required>
                                        <label for="remember_token">کد ارسالی</label> <span class="error-input">کد ارسالی را وارد کنید .</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-item col-12">
                                        <input type="password" name="password" id="new_password"
                                               class="flex-label" minlength="8" autocomplete="off"
                                               required> <label for="new_password">
                                            رمز عبور
                                            جدید
                                        </label> <span class="error-input">رمز عبور را حداقل ۸ کاراکتر وارد کنید .</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-item col-12">
                                        <input type="password" name="repassword"
                                               id="renewpassword" class="flex-label" minlength="8"
                                               autocomplete="off" required> <label for="renewpassword">تکرار رمز عبور</label> <span class="error-input">تکرار رمز عبور را حداقل ۸ کاراکتر وارد کنید .</span>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-12">
                                        <button class="shabesh-button w-100 green submit-button submit-form ">
                                            تغییر رمز
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="auth-container register-code">
                            <div class="auth-head"><span> <i class="sh-user"></i> ورود / ثبت نام </span></div>
                            <form class="auth-form" data-submit="register/confirm">
                                <div class="row text-center auth-title">
                                    لطفاً کد ارسال شده به تلفن همراه خود را وارد کنید
                                </div>
                                <div class="row">
                                    <div class="form-item col-12 mb-2">
                                        <input type="text" name="mobile" id="register_mobile"
                                               class="flex-label" required readonly> <label for="register_mobile" class="fixed">شماره موبایل</label> <span class="error-input">شماره موبایل خود را وارد نمایید</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-item col-12 mb-2">
                                        <input type="text" name="code" id="register_code"
                                               class="flex-label" minlength="6" maxlength="6"
                                               required> <label for="register_code">
                                            کد
                                            ارسالی
                                        </label> <span class="error-input">کد ۶ رقمی را وارد نمایید</span>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-12">
                                        <button type="submit"
                                                class="shabesh-button green w-100 auth-button submit-button submit-form ">
                                            ادامه
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" name="reg_id" id="register_id">
                                <div class="row">
                                    <div class="col-12 text-center resend-timer py-2">
                                        <span class="timer-span">60</span>
                                        <span class="resend-span resend-register">ارسال مجدد</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="auth-container register-container">
                            <div class="auth-head"><span> <i class="sh-user"></i> ورود / ثبت نام </span></div>
                            <form class="auth-form" data-submit="register/register">
                                <div class="form-group">
                                    <div class="custom-control initial-position custom-radio d-inline-block">
                                        <input name="type" type="radio" class="custom-control-input" id="for-user" value="User"
                                               required> <label class="custom-control-label" for="for-user"> شخصی </label>
                                        <span class="error-input abs-input">نوع کاربری را انتخاب کنید .</span>
                                    </div>
                                    <div class="custom-control custom-radio d-inline-block">
                                        <input name="type" type="radio"
                                               class="custom-control-input"
                                               id="for-agent"
                                               value="Agent" required>
                                        <label class="custom-control-label" for="for-agent"> مشاور املاک </label>
                                    </div>
                                    <div class="custom-control custom-radio d-inline-block">
                                        <input name="type" type="radio"
                                               class="custom-control-input"
                                               id="for-agency"
                                               value="Agency" required>
                                        <label class="custom-control-label" for="for-agency"> آژانس املاک </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-item col-12 mb-2">
                                        <input type="text" class="flex-label" name="name"
                                               id="register_name"
                                               data-errormessage-value-missing="نام و نام خانوادگی را وارد نمایید"
                                               required> <label for="register_name">
                                            نام و نام
                                            خانوادگی
                                        </label> <span class="error-input">نام و نام خانوادگی را وارد کنید .</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-item col-12 mb-2">
                                        <input type="text" class="flex-label" name="email"
                                               id="register_email" required> <label for="register_email">ایمیل</label> <span class="error-input">پست الکترونیک را وارد کنید .</span>
                                    </div>
                                </div>
                                <div class="row for-agency hidden">
                                    <div class="form-item col-12 mb-2">
                                        <input type="text" class="flex-label agency-required"
                                               name="nationalcode" id="nationalcode"> <label for="nationalcode">کد ملی</label> <span class="error-input">کد ملی را وارد کنید .</span>
                                    </div>
                                </div>
                                <div class="row for-agency hidden">
                                    <div class="form-item col-12 mb-2">
                                        <input type="text" class="flex-label agency-required"
                                               name="agency_code" id="agency_code"> <label for="agency_code">کد صنفی</label> <span class="error-input">کد صنفی را وارد کنید .</span>
                                    </div>
                                </div>
                                <div class="row for-agent hidden">
                                    <div class="form-item col-12 mb-2">
                                        <input type="text" class="flex-label agent-required"
                                               name="agency_name" id="agency_name"> <label for="agency_name">نام آژانس</label> <span class="error-input">نام آژانس را وارد کنید .</span>
                                    </div>
                                </div>
                                <div class="row for-agency hidden">
                                    <div class="form-item col-12 mb-2">
                                        <input type="text" class="flex-label" name="phone"
                                               id="agency_phone"> <label for="agency_phone">
                                            تلفن
                                            تماس
                                        </label>
                                    </div>
                                </div>
                                <div class="row for-agency hidden">
                                    <div class="form-item col-12 mb-2">
                                        <input type="text" class="flex-label" name="address"
                                               id="agency_address"> <label for="agency_address">آدرس آژانس</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-item col-12 mb-2">
                                        <input type="password" id="reg_password"
                                               name="password" class="flex-label"
                                               minlength="8" autocomplete="off" required>
                                        <label for="reg_password">رمز عبور</label> <span class="error-input">رمز عبور را حداقل ۸ کاراکتر وارد نمایید</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit"
                                                class="shabesh-button green w-100 auth-button submit-button submit-form ">
                                            ثبت اطلاعات
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" name="reg_id" id="reg_id"> <input type="hidden" name="mobile"
                                                                                       id="reg_mobile"> <input type="hidden"
                                                                                                               name="verify_code"
                                                                                                               id="reg_code">
                            </form>
                        </div>
                        <div class="row login-message mb-3 hidden">
                            <div class="col-12"><span></span> <i class="sh-quit"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feedback animated bounceIn right">
            <picture class="feedback-button">
                <source srcset="~/Images/home/mixed.png" type="image/png">
                <img src="~/Images/home/mixed.png" width="58" class="feedback-button open" alt="نظر سنجی املاک"
                     title="نظر سنجی املاک">
            </picture>
            <picture class="feedback-button ">
                <source srcset="~/Images/home/mixed.png" type="image/png">
                <img src="~/Images/home/mixed.png" class="closed" alt="بستن" title="بستن">
            </picture>
            <div class="tanx-box"> از اینکه ما رو در راستای ارائه خدمات بهتر یاری میکنید سپاسگزاریم</div>
            <div class="answer-box animated bounceIn">
                <span class="feedback-text">نظرتون را در رابطه با استفاده از املاک با ما در میان بگذارید</span>
                <div class="row images">
                    <div class="col-4 select-feedback perfect" data-type="2">
                        <picture>
                            <source srcset="~/Images/home/mixed.png" type="image/png">
                            <img src="~/Images/home/mixed.png" alt="راضی هستم" title="راضی هستم">
                        </picture>
                        <span>راضی هستم</span>
                    </div>
                    <div class="col-4 select-feedback average" data-type="1">
                        <picture>
                            <source srcset="~/Images/home/mixed.png" type="image/png">
                            <img src="~/Images/home/mixed.png" alt="بد نبود" title="بد نبود">
                        </picture>
                        <span>بد نبود</span>
                    </div>
                    <div class="col-4 select-feedback not-good" data-type="0">
                        <picture>
                            <source srcset="~/Images/home/mixed.png" type="image/png">
                            <img src="~/Images/home/mixed.png" alt="راضی نیستم" title="راضی نیستم">
                        </picture>
                        <span>راضی نیستم</span>
                    </div>
                </div>
                <form class="auth-form feedback-form" data-submit="feedbacks">
                    <input type="hidden" name="route"
                           value="home"> <input type="hidden"
                                                name="type"
                                                id="feedbackType"
                                                value="">
                    <div class="row feedback-desc mb-2">
                        <div class="col-12"><input name="mobile" placeholder="شماره تماس شما (اختیاری)"></div>
                    </div>
                    <div class="row feedback-desc">
                        <div class="col-12">
                            <textarea name="description"
                                      placeholder="تجربه خود را با ما در میان بگذارید ."></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn submit-form">ارسال</button>
                        </div>
                    </div>
                    <div class="row login-message p-0">
                        <div class="col-12 p-0"><span></span> <i class="sh-quit"></i></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
 var locations = [];
var member = JSON.parse('{}');
var base_url = "index.html";</script>
    <script defer src="~/Scripts/base40.js"></script>
    @*<script defer src="~/Scripts/app40.js"></script>*@
   
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85204224-1"></script>
    <script>
 window.dataLayer = window.dataLayer || [];

function gtag() {
    dataLayer.push(arguments);
}

gtag('js', new Date());
gtag('config', 'UA-85204224-1');</script>
</body>
<!-- Mirrored from shabesh.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 28 Jun 2019 14:26:12 GMT -->
</html>