
<div class="bordered-btn px-2 announce-information-responsive-fix text-center" id="print-ad">
    <div class="print-icon float-left pt-lg-0 pt-md-0 pl-0 text-left">
        <div class="text-right clearfix float-left">
        </div>
        <div class="position-relative text-center" style="cursor:pointer">
            <span class="mr-2"> چاپ </span> <i class="sh-print "></i>
        </div>
    </div>
</div>  

<script>
    document.getElementById('print-ad').addEventListener("click", function (e) {
        window.print()
    })
</script>
                             