@using ModelLib.Enums;
@model List<ModelLib.Advertising>
@foreach (var item in Model)
{
        <li class="pb-3">
            <a href="/Advertising/Details/@item.id">
                @ViewBag.Title
                
                @if (item.propertyType == PropertyType.apartment)
                {
                    <span>آپارتمان</span>
                }
                else if (item.propertyType == PropertyType.Official)
                {
                    <span>اداری</span>
                }
                else
                {
                    <span>ویلایی</span>
                } 
                @if (item.typeOfAd == ModelLib.Enums.TypeAd.Buy)
                {
                    @($"{item.Price} تومان در {item.City_table.title}")
                }
                else
                {
                    @($"{item.rent} تومان در {item.City_table.title}")
                }
            </a>
        </li>
}
