@using ModelLib
@{
    ViewBag.Title = "Advertising";
}
<div class="main clearfix searching">
    <div class="w-100 bg-white">
        <div class="container pt-2">
            <div class="row">
                <div class="col-lg-6 col-8 pr-lg-3 pr-1">
                    <div class="single-bread-crumb py-0 search-result-page">
                        <div class="w-100 pb-2">
                            <div class="row">
                                @Html.Partial("_pBreadcrumb", (List<Breadcrumb>)ViewBag.Breadcrumb)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-4 pl-lg-2 pl-1">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="advertising-page">
    <section class="advertising-cover">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-12 mt-5 pt-5">
                    <div class="advertising-title"><h1>تبلیغات در املاک</h1></div>
                    <div class="advertising-text mt-5">
                        <span>املاک بزرگترین مرجع تخصصی املاک کشور و جامع ترین رسانه تبلیغاتی در حوزه املاک میباشد.اگر به دنبال رسانه ای هدفمند و موثر برای درج آگهی املاک ، تبلیغات و برندینگ هستید، راه را درست انتخاب کرده اید.املاک با ابزاری قدرتمند برای تبلیغات بهترین گزینه برای شماست.این صفحه شما را با تبلیغات در املاک آشنا میکند؛ </span>
                    </div>
                    <div class="cover-icons pt-5">
                        <div class="row">
                            <div class="icon-holder col-md-3 col-4 text-center">
                                <img src="~/Images/advertising/iran-icon.png">
                                <div class="subtitle pt-3"> 7 استان تحت پوشش</div>
                            </div>
                            <div class="icon-holder col-md-3 col-4 text-center">
                                <img src="~/Images/advertising/group.png">
                                <div class="subtitle pt-3"> 1.000.000 بازدید در ماه</div>
                            </div>
                            <div class="icon-holder col-md-3 col-4 text-center">
                                <img src="~/Images/advertising/home-imac.png">
                                <div class="subtitle pt-3"> ۱۰۰,۰۰۰+ آگهی فعال</div>
                            </div>
                        </div>
                    </div>
                    <div class="button-holder my-5 ">
                        <a href="/Home/Contact"
                           class="advertising-btn mx-md-0 mx-auto text-center">
                            تماس با
                            ما
                        </a>
                    </div>
                </div>
                <div class="col-md-5 col-12 mt-md-5 pt-md-5 mt-4">
                    <img class="w-100" src="~/Images/advertising/imac.png">
                </div>
            </div>
        </div>
    </section>
</div>

