@using ModelLib
@model List<ModelLib.Questions>
@{
    ViewBag.Title = "Faq";
}
<div class="main clearfix searching">
    <div class="w-100 bg-white">
        <div class="container pt-2">
            <div class="row">
                <div class="col-lg-6 col-8 pr-lg-3 pr-1">
                    <div class="single-bread-crumb py-0 search-result-page">
                        <div class="w-100 pb-2">
                            <div class="row">
                                @Html.Partial("_pBreadcrumb", (List<Breadcrumb>)ViewBag.Breadcrumb)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-4 pl-lg-2 pl-1">
                </div>
            </div>
        </div>
    </div>

</div>
<section class="rich-content box1">
    <div class="container">
        <div class="row ">
            <ul>
                <li>
                    <div class="col-sm-12">
                        <span class="title">املاک چیست ؟ </span> <span class="value"> املاک وب سایت و اپلیکیشن تخصصی درج آگهی ملک است که جویندگان ملک ، فروشندگان ملک و مشاورین املاک میتوانند به راحتی از آن استفاده کرده و آگهی املاک مورد نظر خود را بیابند و یا انتشار دهند. </span>
                    </div>
                    <div class="col-sm-12">
                        <span class="title">آیا املاک یک مشاور املاک است ؟ </span> <span class="value">املاک مشاور املاک نیست و هیچ گونه دخالتی در فرایند خرید ، فروش و رهن و اجاره آگهی ملک منتشر شده در وب سایت و اپلیکیشن املاک ندارد. وب سایت املاک صرفاً انتشار دهنده آگهی های فروش و اجاره ملک است که توسط کاربران،مالکین و مشاورین املاک درج میشود . در حقیقت املاک میان جویندگان و فروشندگان ملک و مشاورین املاک ارتباط برقرار میکند.</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="rich-content box2">
    <div class="container">
        <div class="row ">
            <h2 class="text-center w-100">سوالات متداول کاربران </h2>
            <ul>
                <li>
                    @Html.Partial("_pFaq", Model)
                    @*<div class="col-sm-12">
                        <span class="title">•آیا مالکین املاک می توانند آگهی خود را بر روی املاک منتشر کنند؟ </span>
                        <span class="value"> بله.تمامی کاربران املاک(شخصیتهای حقیقی و حقوقی) می توانند آگهی ملک خود را در سایت و اپلیکیشن املاک منتشر کنند. </span>
                    </div>
                    
                    <div class="col-sm-12">
                        <span class="title">•چگونه می توانم در املاک ملک مورد نظر خود را جستجو کنم؟ </span>
                        <span class="value">با ورود به صفحه اصلی و انتخاب یکی از گزینه های خرید یا رهن و اجاره و وارد کردن محله مورد نظرتان در استان تهران،ملک مورد نظر خود را جستجو نمایید.همچنین در صورت نیاز شما می توانید با استفاده از سایر معیارهای موجود به نتایج دقیق تری دست یابید. </span>
                    </div>
                    
                    <div class="col-sm-12">
                        <span class="title">چگونه می توانم آگهی های مورد علاقه خود را ذخیره کنم؟</span> <span class="value">شما با ایجاد حساب کاربری می توانید آگهی های مورد نظر خود را به لیست علاقه مندی های خود اضافه کنید.به این ترتیب دسترسی شما به این آگهی ها راحت تر خواهد بود و هر زمان که خواستید سریعتر به این آگهی ها دسترسی پیدا کنید می توانید وارد پروفایل خود شده و لیست علاقه مندیهای خود را ببینید.</span>
                    </div>
                    
                    <div class="col-sm-12">
                        <span class="title">•محدوده فعالیت املاک شامل چه مناطقی می شود؟ </span>
                        <span class="value">•املاک آگهی خرید و فروش را از سراسر استان تهران می پذیرد . همچنین آژانسهای املاک دارای کد صنفی معتبر ، مشاورین املاک و مالکین محترم از سراسر تهران می توانند عضو املاک باشند. </span>
                    </div>*@
                </li>
            </ul>
        </div>
    </div>
</section>


