@model List<ModelLib.Rules>
@{
    ViewBag.Title = "Terms";
}

<section class="rich-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="shabesh-color">ضوابط و قوانین</h1> <span class="value"> آنچه در زیر به عنوان ضوابط و قوانین استفاده از سایت املاک آمده است، در مجموعه وب سایت و اپلیکیشن املاک اعمال می‌شود. در نظر داشته باشید که کلیه ضوابط و قوانین املاک منطبق با قوانین و مقررات جمهوری اسلامی ایران، قوانین تجارت الکترونیک ، زیر نظر مرکز توسعه تجارت الکترونیکی(اینماد) و مرکز توسعه فناوری اطلاعات و رسانه های دیجیتال است. شما به عنوان عضو یا کاربر مجموعه، با استفاده از املاک در نخستین گام، کلیه قوانین زیر را پذیرفته‌اید و موظف به رعایت قوانین هستید. </span>
            </div>            
                @Html.Partial("_pTerms", Model)                          
            </div>
    </div>
</section>

